
.username {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #666666;
  margin-top: 122px;
  margin-left: 98px;
  display: flex;
  position: relative;
  text-decoration: none;
  margin-bottom: 8px;
}
.password {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #666666;
  margin-top: 32px;
  margin-left: 98px;
  display: flex;
  position: relative;
  text-decoration: none;
  margin-bottom: 8px;
}
/* Style the input field */
.input[type="text"] {
  display: flex;
  flex-direction: column;
  margin-left: 98px;
  align-items: flex-start;
  padding-left: 16px;
  gap: 10px;
  width: 564px;
  height: 56px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 8px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.password__requirements {
  margin-top: 8px;
  margin-left: 98px;
  margin-bottom: 32px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #666666;
  text-decoration: none;
  display: flex;
  position: relative;
}
.Input_Text_Label {
  margin-bottom: 8px;
  margin-left: 98px;
  color: #666666;
  width: 564px;
  height: 18px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  display: flex;
  position: relative;
}
.error {
  margin-top: 26px;
  margin-left: 98px;
  margin-bottom: 32px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #eb5757;
  text-decoration: none;
  display: flex;
  position: relative;
}
.input__error {
  display: flex;
  flex-direction: column;
  margin-left: 98px;
  align-items: flex-start;
  padding-left: 16px;
  gap: 10px;
  width: 564px;
  height: 56px;
  background: #ffffff;
  border: 2px solid #eb5757;
  border-radius: 8px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.sign {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #fff;
  font-size: 18px;
  border: none;
  margin-left: 542px;
  margin-top: -42px;
  padding-left: 98px;
}

/*checkbox==================*/

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 138px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark__checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  margin-left: 98px;
  border: 1px solid #cccccc;
  border-radius: 8px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark__checkbox {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark__checkbox {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark__checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark__checkbox:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark__checkbox:after {
  left: 8px;
  top: 2px;
  width: 6px;
  height: 15px;
  border-style: double;
  border-color: #7a5cfa;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*Toggle Switch=========================*/
/* The switch - the box around the slider */
.switch {
  display: flex;
  position: relative;
  width: 60px;
  height: 34px;
  margin-top: 32px;
  margin-left: -38px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch__text {
  display: flex;
  position: relative;
  text-decoration: none;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  margin-left: 43px;
  margin-top: -29px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Radio selection =========*/
/* Customize the label (the container) */
.radio__container {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 36px;
  margin-bottom: 12px;
  margin-left: 98px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.radio__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 32px;
}

/* On mouse-over, add a grey background color */
.radio__container:hover input ~ .radio__checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio__container input:checked ~ .radio__checkmark {
  background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio__container input:checked ~ .radio__checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio__container .radio__checkmark:after {
  align-items: center;
  top: 6px;
  left: 6px;
  width: 12px;
  height: 12px;
  border-radius: 32px;
  background: #7a5cfa;
}
.dropdown__title {
  margin-top: 32px;
  margin-left: 98px;
  margin-bottom: 8px;
  color: #666666;
  width: 564px;
  height: 18px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  display: flex;
  position: relative;
}

/*Dropdowm Menu ============================*/
button {
  width: 564px;
  height: 56px;
  padding-left: 16px;
  margin-left: 98px;
  text-align: left;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  background: #FFFFFF;
  border: 2px solid #7A5CFA;
  border-radius: 8px;
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  overflow: auto;
  width: 564px;
  margin-left: 98px;
  text-align: start;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  background: #FFFFFF;
  
}
.dropdown:hover .dropdown-content {
  display: block;
  
}
.dropdown-content a {
  width: 654px;
  height: 44px;
  display: block;
  
  padding-left: 16px;
  padding-top: 16px;
  text-decoration: none;
  line-height: 48px;
  
  background: #FFFFFF;
  border: 1px solid #7A5CFA;
  border-radius: 8px;
  text-align: start;
  justify-content: center;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  background: #FFFFFF;
}
.dropdown-content a:hover {
  color: #ffffff;
  background: #7A5CFA;
  border: 1px solid #CCCCCC;
}

.button__cancel{
  display: flex;
  flex-direction: inline-block;
  margin-top: 32px;
  border:#7A5CFA;
  width: 172px;
  height: 56px;
  background: #FFFFFF;
  border: 1px solid #7A5CFA;
  border-radius: 8px;
  color: #7a5cfa;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding-left: 56px;
  padding-top: 14px;

}
.button__next{
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  border:#7A5CFA;
  width: 172px;
  height: 56px;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background: #7A5CFA;
  border: 1px solid #7A5CFA;
  border-radius: 8px;
  color: #fff;
  padding-left: 66px;
  padding-top: 14px;
  margin-left: 218px;

}
.buttons__footer {
  margin-top: 215px;
  display: flex;
  align-content: space-between;
  justify-content: start;
}
